<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table class="row">
                                <tr>
                                    <th class="small-12 large-12 first last columns">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </th>
                                    <th class="expander"></th>
                                </tr>
                            </table>
                            <table class="row">
                                <tr>
                                    <th class="small-12 large-12 first last columns">
                                       You have an alert regarding {{alert_name}}
                                    </th>
                                    <th class="expander"></th>
                                </tr>
                            </table>



<!-- ROW FOR ALERT ICON -->
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="columns first last">
                                        <table>
                                            <tr>
                                                <th><i class="fas fa-exclamation-circle"></i></th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <!-- ROW Tittle -->
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="columns first last">
                                        <table>
                                            <tr>
                                                <th>{{email_title}}</th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <!-- ROW Message -->
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="columns first last">
                                        <table>
                                            <tr>
                                                <th>{{message_txt}}</th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <!-- ROW Button -->
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="columns first last">
                                        <table>
                                            <tr>
                                                <th>More Details</th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>






</body>
</html>